.container_login {
    display: flex;
    flex-direction: column;
    gap: 30px;
    min-height: 100%;
}
.trampasLogin {
    padding-top: 100px;
}
.form__tittle_title {
    color: #ffff;
    font: bold;
    text-align: center;
    font-size: 1.5rem;
}
.form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.form__input,
.form__input--submit {
    border-radius: 20px;
    width: 343px;
    height: 65px;
    padding: 20px;
}
.form__input--submit {
    background-color: #c8a93c;
    color: black;
    font-weight: 600;
    font-size: 1.2rem;
    text-align: center;
}

.form__input--submit:hover {
    background-color: #816f2c;
    cursor: pointer;
}

/* .form__info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #ffff;
    font-size: 0.7rem;
    gap: 10px;
}
.form__info--or {
    display: flex;
    align-items: center;
    gap: 10px;
} */
/* .form__info--or::after,
.form__info--or::before {
    content: '';
    background-color: grey;
    display: block;
    width: 105px;
    height: 2px;
    border-radius: 2px;
} */
.form__loginButton {
    color: #c8a93c;
    text-decoration: none;
    cursor: pointer;
}
