.menu__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu__ul .menu__list {
    display: inline-block;
}

.menu__link {
    display: flex;
    padding: 2em;
    padding-top: 50px;
    padding-left: 400px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
